<web-app>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath:org/codehaus/xfire/spring/xfire.xml
    </param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>xfire</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>xfire</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>