body {
  padding: 30px;
  margin: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #999999;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  width: 70%;
  color: #666666;
  font-size: 13px;
  margin-bottom: 20px;
  margin-top: 5px
}

select {
  color: #666666;
  font-size: 13px;
}

.header {
  font-weight: normal;
  font-size: 27px;
  margin: -30px;
  margin-bottom: 20px;
  padding: 12px;
  padding-top: 37px;
  padding-left: 28px;
  background-image: url( background.jpg );
}

.header a {
  text-decoration: none;
  color: navy;
}

.subtitle {
  color: white
}

h3.title {
  color: navy;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding-right: 25px;
  border-bottom: 1px solid #EFF6FF;
  max-width: 300px;
}

.footer {
  color: #aaa;
  text-decoration: none;
  font-size: 10px;
  padding-right: 25px;
  border-top: 1px solid #EFF6FF;
  max-width: 300px;
}

span {
  margin-left: 30px;
  font-size: 13px;
  color: #888;
  display: none
}

#copyright {
  margin-left: 0px;
  display: inline;
  font-size: 13px;
  color: #aaa;
}

#navlinks {
  list-style: none;
  padding: 5px;
}

#navcontainer {
  width: 120px;
  position: absolute;
  -moz-border-radius: 4px;
  float: right;
  margin-top: 60px;
  background: #f5f5f5;
  border: 1px solid #dddddd;
  right: 30px;
  top: 80px;
  padding: 10px 30px 15px 30px;
  font-size: 12px;
  color: #aaaaaa;
  border-width: 0 1px 1px 0;
}