a           { color: #FA6900; text-decoration: underline; outline: none; }
/* Use this to create a horizontal ruler across a column. */
hr {
  background: #A7DBD8;
  color: #A7DBD8;
  clear: both;
  float: none;
  width: 100%;
  height: 2px;
  margin: 0 0 16px 0;
  border: none;
}
#site-description {
	background-color: #69D2E7;
	border-top: 2px solid #fff;
	color: #444;
}
#primary li:hover {
	border-bottom: 6px solid #F38630;
}
#secondary {
	padding-top: 7px;
	background-color: #F38630;
}

/*  Base style of xBreadcrumbs  */
/*  Top Level  */
.xbreadcrumbs {
	background: #A7DBD8;
	width: 100%;
}
/*  Sub-level  */
.xbreadcrumbs LI UL {
	padding: 3px;
	background: #E0E4CC;
	font-size: 11px;
	min-width: 180px;
    max-height: 500px;
    overflow: auto;
	top: 25px;
}
body.advisories #nav-advisories,body.community #nav-community,body.blog #nav-blog,body.code #nav-code,body.about #nav-about,body.documentation #nav-documentation{border-bottom: 6px solid #A7DBD8;}
#main h2 {
	font-size: 1.8em;
	font-weight: normal;
    border-bottom: 3px solid #A7DBD8;
    padding-top: 10px;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 6px;
}

#main hr {
	color: #A7DBD8;
	background-color: #A7DBD8;
	border-color: #A7DBD8;
}
#main .get-started a {
	text-align: center;
	background-color: #69D2E7;
	color: #fff;
	display: block;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	padding: 8px 6px;
	width: 10em;
	font-size: 1.4em;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}
#main .get-started a:hover {
	background-color: #E0E4CC;
}