<project>

  <modelVersion>4.0.0</modelVersion>
  <groupId>org.codehaus.enunciate</groupId>
  <artifactId>enunciate-spring-app-tools</artifactId>
  <version>@VERSION@</version>

  <dependencies>
    <dependency>
      <groupId>org.codehaus.enunciate</groupId>
      <artifactId>enunciate-core-tools</artifactId>
      <version>@VERSION@</version>
    </dependency>

    <dependency>
      <groupId>javax.servlet</groupId>
      <artifactId>servlet-api</artifactId>
      <version>2.3</version>
    </dependency>

    <dependency>
      <groupId>org.springframework</groupId>
      <artifactId>spring</artifactId>
      <version>@spring.version@</version>
    </dependency>

    <dependency>
      <groupId>org.springframework</groupId>
      <artifactId>spring-webmvc</artifactId>
      <version>@spring.version@</version>
    </dependency>

    <dependency>
      <groupId>org.springframework.security</groupId>
      <artifactId>spring-security-core-tiger</artifactId>
      <version>@spring.security.version@</version>
      <exclusions>
        <!--we'll depend on enunciate's version of these artifacts.-->
        <exclusion>
          <groupId>org.springframework</groupId>
          <artifactId>spring-aop</artifactId>
        </exclusion>
        <exclusion>
          <groupId>org.springframework</groupId>
          <artifactId>spring-context</artifactId>
        </exclusion>
        <exclusion>
          <groupId>org.springframework</groupId>
          <artifactId>spring-core</artifactId>
        </exclusion>
      </exclusions>
      <optional>true</optional>
    </dependency>

    <dependency>
      <groupId>org.codehaus.spring-security-oauth</groupId>
      <artifactId>spring-security-oauth</artifactId>
      <version>2.0</version>
      <exclusions>
        <!--we'll depend on enunciate's version of these artifacts.-->
        <exclusion>
          <groupId>org.springframework.security</groupId>
          <artifactId>spring-security-core-tiger</artifactId>
        </exclusion>
      </exclusions>
      <optional>true</optional>
    </dependency>

    <dependency>
      <groupId>org.apache.tomcat</groupId>
      <artifactId>annotations-api</artifactId>
      <version>6.0.14</version>
      <optional>true</optional>
    </dependency>
  </dependencies>

</project>