<project>

  <modelVersion>4.0.0</modelVersion>
  <groupId>org.codehaus.enunciate</groupId>
  <artifactId>enunciate-spring-app</artifactId>
  <version>@VERSION@</version>

  <dependencies>
    <dependency>
      <groupId>org.codehaus.enunciate</groupId>
      <artifactId>enunciate-core</artifactId>
      <version>@VERSION@</version>
    </dependency>

    <dependency>
      <groupId>org.codehaus.enunciate</groupId>
      <artifactId>enunciate-spring-app-tools</artifactId>
      <version>@VERSION@</version>
    </dependency>

    <dependency>
      <groupId>org.codehaus.enunciate</groupId>
      <artifactId>enunciate-core-test</artifactId>
      <version>@VERSION@</version>
      <scope>test</scope>
    </dependency>

    <dependency>
      <groupId>org.apache.tomcat</groupId>
      <artifactId>annotations-api</artifactId>
      <version>6.0.14</version>
    </dependency>
  </dependencies>

</project>